root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[{*.{yml,yaml},.clang{-format,-tidy,d}}]
indent_size = 2
indent_style = space

# Kotlin requires spaces for its linter
[*.{kt,kts}]
indent_style = space
indent_size = 4

# clang-format aligns by colon, mixing tabs with spaces
[*.{m,mm,h}]
indent_style = unset

# Properties
[*.properties]
indent_style = space
indent_size = 2
max_line_length = unset
